<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=Title%></title>
</head>
<body>
    <%=message%>
    <button onclick="window.location.href='<%= baseurl + '/login' %>';">Go to Login Page</button>
    <button onclick="window.location.href='<%= baseurl + '/product' %>';">Go to Product Page</button>
    <button onclick="window.location.href='<%= baseurl + '/register' %>';">Go to Register Page</button>
    
    <h1>This is Home page</h1>
</body>
</html>